html {
  font-size: 1rem;
  font-family: 'EB Garamond', serif;
  background-color: #252a2b;
}

body {
  padding:5rem 0;
  color:#cadfe3;
}

a {
  text-decoration: underline;
  color: #a37ceb;
}

a:hover {
  text-decoration: none;
  color: #bf5df0;
}

main {
  display:grid;
  grid-template-columns: 2fr 5fr ;
  grid-auto-rows:min-content;
  grid-gap:2rem;
  width: 70vw;
  margin: 0 auto;
}

.intro-block {
  grid-column:1 / 9;
}

.class {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:3.375rem;
  font-weight:650;
}
h2 {
  font-size:2rem;
  font-weight:400;
}
h3 {
  font-size:2.5rem;
  font-weight:600;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Times New Roman', sans-serif;
  line-height: 0.7;
  padding: .4rem 0;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.125rem;
  line-height: 0.1;
  margin-bottom:1rem;
}