
html {
  font-size: 1rem;
  font-family: 'Times New Roman', serif;
  background-color: #252a2b;
  margin: 10px;
  line-height: 2.5;
}

body {
  padding:2rem;
  color:#cadfe3;
}

main {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(20, min-content);
    grid-gap: 2rem;
    max-width: 20vw;
    margin: 0 auto;
}

.pull-quote {
    font-size: 2.25rem;
    line-height: 1.5;
    font-weight: 400;
}

.vertical-quote {
    grid-column: 1 / 9;
    grid-row: 1 / 11;
    line-height: 1.2;
    font-weight: 700;
    writing-mode: vertical-rl;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:6rem;
  font-weight:650;
  color:#99c0ff;
  line-height: 1;
}
h2 {
  font-size:4rem;
  font-weight:400;
  line-height: 1.2
}
h3 {
  font-size:1.2rem;
  font-weight:600 ;
  line-height: 1.5;
}
h4 {
  font-size:5rem;
}