html {
  font-size: 1rem;
  font-family: 'Times New Roman', serif;
  background-color: #252a2b;
  margin: 10px;
  line-height: 3;
  column-width: 30vw;
}

body {
  padding:2rem;
  color:#cadfe3;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 1rem;
    max-width: 30vw;
}

.pull-quote {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.articles {
    grid-column: 4/ 5;
    grid-row: 2/ 2;
    line-height: 1.2;
    font-weight: 300;
    writing-mode: vertical-rl;
    column-width: 3vw;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:4rem;
  font-weight:650;
  color:#99c0ff;
  line-height: 0.4;
}
h2 {
  font-size:4rem;
  font-weight:400;
  line-height: 1.2
}
h3 {
  font-size:1.2rem;
  font-weight:600 ;
  line-height: 1.5;
}
h4 {
  font-size:3.4rem;
}