
html {
  font-size: 1rem;
  font-family: 'EB Garamond', serif;
  background-color: #252a2b;
  margin: 50px;
}

body {
  padding:2rem 5;
  color:#cadfe3;
}

main {
  display:grid;
  grid-template-columns: 1fr 4fr ;
  grid-auto-rows:min-content;
  grid-gap: 6rem;
  width: 93vw;
  margin: 2 auto;
}
.wrapper1 {
  display:grid;
  grid-template-columns: 70% 30%
  grid-column-gap: 1em ;
  grid-row-gap: 0.3em ;
}
.wrapper2 {
  display:grid;
  grid-template-columns: 40% 40% 40% 40%
  grid-column-gap: 1em ;
  grid-row-gap: 2em ;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:5rem;
  font-weight:650;
  color:#99c0ff;
  line-height: 1;
}
h2 {
  font-size:2rem;
  font-weight:400;
}
h3 {
  font-size:2.5rem;
  font-weight:450;
  line-height: 3;
}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Times New Roman', sans-serif;
  line-height: 0.7;
  padding: .4rem 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom:1rem;
}